*.js
*.node
!jest.config.js
*.d.ts
node_modules
dist
.metals
.vscode
.matano
lib/scripts

# CDK asset staging directory
.cdk.staging
cdk.out

*-debug.log
*-error.log
/tmp
oclif.manifest.json
test
__pycache__
