*.js
*.node
!jest.config.js
*.d.ts
node_modules
dist
.metals
.vscode
**/.DS_Store
.matano
lib/scripts
.python-version

# CDK asset staging directory
.cdk.staging
cdk.out

*-debug.log
*-error.log
/tmp
oclif.manifest.json
test
__pycache__
*build*
!pr-build.yml
local-assets/**
!scripts/**/*.js
scripts/packaging/package-lock.json
matano*.sh*
