// Buttons
.my-btn {
  border-style: solid;
  @apply px-4 py-2 sm:px-8 sm:py-3;
  @apply font-medium inline-flex items-center justify-center border rounded leading-snug transition duration-150 ease-in-out;
}

.mtn-homepage .navbar.navbar {
  background: transparent;
  --ifm-navbar-shadow: 0;
}

.mtn-homepage .hero-bg {
    margin-top: calc(var(--ifm-navbar-height) * -1);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 1080'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' y1='0' x2='1' y2='1'%3E%3Cstop offset='0' stop-color='%2309F'%3E%3Canimate attributeName='stop-color' values='%23FFCEA0%3B%23FFB8B2%3B%2392A4D7%3B%23BFACFF%3B%23FFFFFF%3B%23FFCEA0' dur='12s' begin='-8' repeatCount='indefinite'%3E%3C/animate%3E%3C/stop%3E%3Cstop offset='1' stop-color='%2300F'%3E%3Canimate attributeName='stop-color' values='%23FFB8B2%3B%2392A4D7%3B%23BFACFF%3B%23FFFFFF%3B%23FFCEA0%3B%23FFB8B2' dur='12s' begin='-1' repeatCount='indefinite'%3E%3C/animate%3E%3C/stop%3E%3CanimateTransform attributeName='gradientTransform' type='rotate' from='0 .5 .5' to='360 .5 .5' dur='12s' repeatCount='indefinite' /%3E%3C/linearGradient%3E%3CradialGradient id='b' r='0.9' cx='.5' cy='0' fr='.4' fx='.5'%3E%3Cstop offset='0' stop-color='%23FFF' stop-opacity='0'%3E%3Canimate attributeName='stop-color' values='%23FFFFFF%3B%23FFCEA0%3B%23FFB8B2%3B%2392A4D7%3B%23BFACFF%3B%23FFFFFF' dur='12s' begin='-6' repeatCount='indefinite'%3E%3C/animate%3E%3C/stop%3E%3Cstop offset='1' stop-color='%2300F' stop-opacity='.5'%3E%3Canimate attributeName='stop-color' values='%23FFB8B2%3B%2392A4D7%3B%23BFACFF%3B%23FFFFFF%3B%23FFCEA0%3B%23FFB8B2' dur='12s' begin='-2' repeatCount='indefinite'%3E%3C/animate%3E%3C/stop%3E%3CanimateTransform attributeName='gradientTransform' type='rotate' values='360 .5 .5%3B0 .5 .5' dur='12s' repeatCount='indefinite' /%3E%3C/radialGradient%3E%3CradialGradient id='c' r='1' cx='.5' cy='.5' fr='.2' fx='0'%3E%3Cstop offset='0' stop-color='%2309F' stop-opacity='.5'%3E%3Canimate attributeName='stop-color' values='%23FFCEA0%3B%23FFB8B2%3B%2392A4D7%3B%23FFCEA0%3B%2392A4D7%3B%23FFCEA0%3B%23FFFFFF%3B%23FFCEA0' dur='12s' repeatCount='indefinite'%3E%3C/animate%3E%3C/stop%3E%3Cstop offset='1' stop-color='%2309F' stop-opacity='0'%3E%3Canimate attributeName='stop-color' values='%23FFCEA0%3B%23FFB8B2%3B%2392A4D7%3B%23FFCEA0%3B%2392A4D7%3B%23FFCEA0%3B%23FFFFFF%3B%23FFCEA0' dur='12s' repeatCount='indefinite'%3E%3C/animate%3E%3C/stop%3E%3CanimateTransform attributeName='gradientTransform' type='rotate' values='360 .5 .5%3B0 .5 .5' dur='12s' repeatCount='indefinite' /%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25' /%3E%3Crect fill='url(%23b)' width='100%25' height='100%25' /%3E%3Crect fill='url(%23c)' width='100%25' height='100%25' /%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    
}

.row .col {
  --ifm-spacing-horizontal: 2rem;
}

div[role="banner"] {
    font-family: Inter;
    border: 0;
}

.footer__copyright > span {
  @apply text-slate-300;
  &> a {
    @apply underline hover:text-blue-600;
    color: unset;
  }
}